.container {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 7%);
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  width: 140px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.btnRegister {
  background-color: #0f52ff;
  text-transform: none;
  border-radius: 10px;
  padding: 7px 25px;
  font-weight: bold;
}

.btnLogin {
  border-color: #0f52ff;
  color: #0f52ff;
  text-transform: none;
  padding: 6px 18px;
  border-radius: 10px;
  font-weight: bold;
}

.cta {
  margin: 5px;
}
